<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/budget.css">
    <title>Expat Budget</title>
</head>
<body>

<% include ./partials/nav %>

<h2><%= userData.username %></h2>

<div class="budget__container">
    <div class="top">
        <div class="budget">
            <div class="budget__title">
                Availble Budget on&nbsp;<span class="budget__title--month">January</span>
            </div>
            <div class="budget__value">+ 2,345.64</div>

            <div class="budget__income">
                <div class="budget__income--text">Income</div>
                <div class="right">
                    <div class="budget__income--value">+ 4,300.00</div>
                    <div class="budget__income--percentage">&nbsp;...</div>
                </div>
            </div>

           <div class="budget__expenses">
                <div class="budget__expenses--text">Expense</div>
                <div class="left">
                    <div class="budget__expenses--value">+ 1,954.00</div>
                    <div class="budget__expenses--percentage">&nbsp;...</div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class="add">
            <div class="add__containter">
                <form action="/budget" method="post">
                    <select name="inc_or_exp" id="" class="add__type">
                        <option value="income" selected>+</option>
                        <option value="expenses" selected>-</option>
                    </select>
                    <input type="text" class="add__description" name="item" placeholder="Add Description">
                    <input type="number" class="add__value" name="price" placeholder="Value">
                    <button class="add__btn"><i class="ion-ios-checkmark-outline"></i></button>
                </form>

            </div>
        </div>

        <div class="container">
            <div class="income">
                <h2 class="budget__list__title budget__list__title--income">Income</h2>
                <div class="income__list">

                    <!-- loop to run through income items from database -->
                    <% userData.income.forEach((item, index) => {%>
                        <div class="item" id="income-<%= index %>">
                            <div class="item__description"><%= item.item %></div>
                            <div class="right">
                                <div class="item__value">+ <%= item.price %></div>
                                <div class="item__percentage">21%</div>
                                <div class="item__update">
                                    <button class="update--btn show__form"><i class="ion-ios-refresh-outline"></i></button>
                                </div>
                                <div class="item__delete">
                                    <form class="delete-form" action="/budget/<%= item._id %>?_method=DELETE" method="post">
                                        <input type="hidden" name="inc_or_exp" value="income"/>
                                        <button class="item__delete--btn"><i class="ion-ios-close-outline"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="update__container toggle__form">
                            <form class="show-onclick form__update">
                                <input class="update__description" type="text" name="item" value="<%= item.item %>"/>
                                <input class="update__price" type="text" name="price" value=" <%= item.price %>"/>
                                <button class="update__submit--btn hide__form"><i class="ion-ios-checkmark-outline"></i></button>
                            </form>
                        </div>
                    <% }) %>
                     <!--end of loop -->
                </div>
            </div>

            <div class="expenses">
                <h2 class="budget__list__title budget__list__title--expenses">Expenses</h2>
                <div class="expenses__list">

                     <!-- loop to run through income items from database -->
                    <% userData.expenses.forEach((item, index) => {%>
                        <div class="item" id="expense-<%= index %>">
                            <div class="item__description"><%= item.item %></div>
                            <div class="right">
                                <div class="item__value"><%= item.price %></div>
                                <div class="item__percentage">21%</div>
                                <div class="item__update">
                                    <button class="update--btn"><i class="ion-ios-refresh-outline"></i></button>
                                </div>
                                <div class="item__delete">
                                    <form class="delete-form" action="/budget/<%= item._id %>?_method=DELETE" method="post">
                                        <input type="hidden" name="inc_or_exp" value="expenses"/>
                                        <button class="item__delete--btn"><i class="ion-ios-close-outline"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                    <!--end of loop -->
                </div>
            </div>
        </div>
    </div>
</div>
<script type="module" src="../js/controller.js"></script>
<% include ./partials/footer %>
